version: "3.9"

services:
    app:
        container_name: mkdocs
        image: mkdocs
        build:
            context: .
            dockerfile: Dockerfile
        restart: always
        ports:
            - "80:80"